h2{text-align: center;}
h3{text-align: center;}
a.Navigation{padding-left: 6.1em ;padding-right: 6.1em; font-size: 1cm; background-color: rgb(238, 20, 20);color:aliceblue}
h3.book{background-color: aqua;}
img{padding: 1.5em;}
.communication{padding-bottom: 0.5cm; font-size: 1em;text-decoration: underline}
.bodys{background-color:white;}